/* HTML elements */

hr {
    margin-bottom: 10px;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
}

h5 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: medium;
}


/* Bootstrap Class and ID elements */

.nav-item.nav-item.nav-item a {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: black;
}


/* Custom Class elements */

.title-block {
    margin-bottom: 60px;
}

.title-space {
    margin-top: 50px;
}

.large-title-space {
    margin-top: 75px;
    margin-bottom: 25px;
}

.nav-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-links {
    font-family: 'Lato', sans-serif;
    font-size: medium;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.center-text {
    text-align: center;
}

.bottom-space-needed {
    margin-bottom: 25px;
}

.small-bottom-space-needed {
    margin-bottom: 10px;
}

.top-space-needed {
    margin-top: 25px;
}

.button-space {
    margin-right: 10px;
}

.large-bottom-space {
    margin-bottom: 50px;
}

.yellow {
    color: black;
    background-color: #fdd31a;
    border-color: black;
}

.image-padding {
    padding: 20px;
}

.border-needed {
    padding: 20px;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: lightgray;
}

.link-format {
    color: #387e39 !important;
    text-decoration: none !important;
}

.button-format {
    background-color: #387e39 !important;
    padding: 12px;
}

.center {
    margin: auto;
}

.outline #footer-custom {
    background-color: #ffff !important;
    margin-top: 50px;
}